@font-face {
    font-family: 'lobster_regular';
    src: url('fonts/lobster-webfont.eot');
    src: url('fonts/lobster-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/lobster-webfont.woff') format('woff'),
         url('fonts/lobster-webfont.ttf') format('truetype'),
         url('fonts/lobster-webfont.svg#lobster_regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

.container {padding-top:4em;}
h1{font-family:'lobster_regular',sans-serif}
h3{margin-bottom:0;}
h4{font-weight:normal;margin-top:0;}
article,section{margin-bottom:2em}
article{border-top:1px dotted #ccc}
table.tech td{padding-left:.75em}
table.tech th{font-weight:normal;padding-right:.75em;text-align:right;color:#999;padding-bottom:5px;border-right:solid 2px #ddd}
span.dates{font-weight:normal;letter-spacing:-1px;font-size:0.8em;border-radius:0px;}

.iconset{text-align:center;position:fixed;bottom:2em;width:64px}
.icon{text-indent:-9999px;width:64px;height:64px;display:block}
.icon.github{background:url(http://cdn3.iconfinder.com/data/icons/free-social-icons/67/github_circle_black-64.png) no-repeat}
.icon.linkedin{background:url(http://cdn3.iconfinder.com/data/icons/free-social-icons/67/linkedin_circle_black-64.png)no-repeat}
.icon.blog{background:url(http://cdn3.iconfinder.com/data/icons/free-social-icons/67/rss_circle_black-64.png) no-repeat}
.icon.skype{background:url(http://cdn3.iconfinder.com/data/icons/free-social-icons/67/skype_circle_black-64.png) no-repeat}

@media (max-width: 767px) {
    .iconset{position:static;width:280px}
    .iconset .icon{display:inline-block}
}
